<div class="page-404">
    <div class="container">
        <div class="section-title">
            <h2>¡Pagina no encontrada!</h2>
            <p>Opps Error</p>
        </div>
        <div class="page-img">
            <img src="assets/images/404Img.jpg" alt="">
        </div>
        <div class="error-text">
            <p>Pueda que la pagina no exita o bien ocurrió un error.
                <a [routerLink]="['/index']">Ir al inicio de la aplicación</a> o bien regresa a la pagina anterior
                <a href="javascript:history.back()">Página previa</a>
            </p>
        </div>
    </div>
</div>